{
    "simple-task": {
        "condition": "{{ t }}_{{ env }}"
    },
    "complex-task": {
        "condition": "{{ t }}_{{ env }}",
        "params": {
            "one": "1",
            "two": "2"
        }
    }
}
