{
    "task-01": {
        "condition": "01"
    },
    "task-02": {
        "condition": "02"
    },
    "task-03": {
        "condition": "03"
    },
    "task-04": {
        "condition": "04"
    },
    "task-05": {
        "condition": "05"
    },
    "task-06": {
        "condition": "06"
    },
    "task-07": {
        "condition": "07"
    },
    "task-08": {
        "condition": "08"
    },
    "task-09": {
        "condition": "09"
    },
    "task-10": {
        "condition": "10"
    }
}
