AIRFLOW_HOME={{ AIRFLOW_HOME|default('/opt/airflow/airflow') }}
AIRFLOW_CUSTOM_ENV={{ AIRFLOW_CUSTOM_ENV|default('local') }}
AIRFLOW_CUSTOM_CONFIG={{ '/home/airflow/.local/lib/python' }}{{ '3.6'|env_override('PYTHON_MAJOR_MINOR_VERSION') }}{{ '/site-packages/' }}{{ 'base_airflow_dags'|env_override('SITE_PACKAGES_NAME') }}{{ '/config' }}


# PostgreSQL params in Airflow Containers
POSTGRES_USER={{ POSTGRES_USER }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
POSTGRES_HOST={{ POSTGRES_HOST }}
POSTGRES_PORT={{ POSTGRES_PORT }}
POSTGRES_DB={{ POSTGRES_DB }}
POSTGRES_EXTRAS={{ POSTGRES_EXTRAS }}


# Celery/Redis
REDIS_PASSWORD={{ REDIS_PASSWORD }}
REDIS_PROTO={{ REDIS_PROTO }}
REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}
REDIS_PASSWORD={{ REDIS_PASSWORD }}
REDIS_DBNUM={{ REDIS_DBNUM }}
AIRFLOW__CELERY__BROKER_URL={{ REDIS_PROTO }}{{ REDIS_PREFIX }}{{ REDIS_HOST }}:{{ REDIS_PORT }}/{{ REDIS_DBNUM }}
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://{{ POSTGRES_USER }}:{{ POSTGRES_PASSWORD }}@{{ POSTGRES_HOST }}:{{ POSTGRES_PORT }}/{{ POSTGRES_DB }}?{{ POSTGRES_EXTRAS }}


# airflow.cfg [core]
AIRFLOW__CORE__EXECUTOR={{ AIRFLOW__CORE__EXECUTOR|default('CeleryExecutor') }}
AIRFLOW__CORE__DAGS_FOLDER={{ '/home/airflow/.local/lib/python' }}{{ '3.6'|env_override('PYTHON_MAJOR_MINOR_VERSION') }}{{ '/site-packages/' }}{{ 'base_airflow_dags'|env_override('SITE_PACKAGES_NAME') }}{{ '/dags' }}
AIRFLOW__CORE__PLUGINS_FOLDER={{ '/home/airflow/.local/lib/python' }}{{ '3.6'|env_override('PYTHON_MAJOR_MINOR_VERSION') }}{{ '/site-packages/' }}{{ 'base_airflow_dags'|env_override('SITE_PACKAGES_NAME') }}{{ '/plugins' }}
AIRFLOW__CORE__LOAD_EXAMPLES={{ AIRFLOW__CORE__LOAD_EXAMPLES|default(true) }}
AIRFLOW__CORE__UNIT_TEST_MODE={{ AIRFLOW__CORE__UNIT_TEST_MODE|default(false) }}

# Enable DAG Serialization
AIRFLOW__CORE__STORE_SERIALIZED_DAGS={{ AIRFLOW__CORE__STORE_SERIALIZED_DAGS|default(false) }}
AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL={{ AIRFLOW__CORE__MIN_SERIALIZED_DAG_UPDATE_INTERVAL|default(30) }}

# Encryption
AIRFLOW__CORE__FERNET_KEY="LFKF4PSrAOG-kbxOouoLj8Du2QCnsp9qw7G21-WPsLU="

# airflow.cfg [database]
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://{{ POSTGRES_USER }}:{{ POSTGRES_PASSWORD }}@{{ POSTGRES_HOST }}:{{ POSTGRES_PORT }}/{{ POSTGRES_DB }}?{{ POSTGRES_EXTRAS }}
AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS={{ AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS|default(false) }}

# airflow.cfg [webserver]
AIRFLOW__WEBSERVER__DAG_DEFAULT_VIEW=graph
AIRFLOW__WEBSERVER__WEB_SERVER_PORT={{ AIRFLOW__WEBSERVER__WEB_SERVER_PORT|default(8443) }}
AIRFLOW__WEBSERVER__WORKERS={{ AIRFLOW__WEBSERVER__WORKERS|default(4) }}
AIRFLOW__WEBSERVER__WORKER_REFRESH_BATCH_SIZE={{ AIRFLOW__WEBSERVER__WORKER_REFRESH_BATCH_SIZE|default(1) }}
AIRFLOW__WEBSERVER__WEB_SERVER_SSL_CERT={{ AIRFLOW__WEBSERVER__WEB_SERVER_SSL_CERT|default('/etc/ssl/certs/airflow-selfsigned.crt') }}
AIRFLOW__WEBSERVER__WEB_SERVER_SSL_KEY={{ AIRFLOW__WEBSERVER__WEB_SERVER_SSL_KEY|default('/home/airflow/ssl/private/airflow-selfsigned.key') }}

# airflow.cfg [schedule]
AIRFLOW__SCHEDULER__PRINT_STATS_INTERVAL={{ AIRFLOW__SCHEDULER__PRINT_STATS_INTERVAL|default(30) }}
AIRFLOW__SCHEDULER__SCHEDULER_IDLE_SLEEP_TIME={{ AIRFLOW__SCHEDULER__SCHEDULER_IDLE_SLEEP_TIME|default(1) }}

# airflow.cfg [logging]
AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS={{ AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS }}
AIRFLOW__LOGGING__BASE_LOG_FOLDER={{ AIRFLOW__LOGGING__BASE_LOG_FOLDER|default('${AIRFLOW_HOME}/logs') }}
AIRFLOW__LOGGING__REMOTE_LOGGING={{ false | env_override('AIRFLOW__CORE__REMOTE_LOGGING') }}
